@import "tailwindcss";
@font-face {
    font-family: 'GilroyBold';
    src: url('fonts/GilroyBold.eot');
    src: url('fonts/GilroyBold.eot') format('embedded-opentype'),
    url('fonts/GilroyBold.woff2') format('woff2'),
    url('fonts/GilroyBold.woff') format('woff'),
    url('fonts/GilroyBold.ttf') format('truetype'),
    url('fonts/GilroyBold.svg#GilroyBold') format('svg');
}
@font-face {
    font-family: 'GilroyMedium';
    src: url('fonts/GilroyMedium.eot');
    src: url('fonts/GilroyMedium.eot') format('embedded-opentype'),
    url('fonts/GilroyMedium.woff2') format('woff2'),
    url('fonts/GilroyMedium.woff') format('woff'),
    url('fonts/GilroyMedium.ttf') format('truetype'),
    url('fonts/GilroyMedium.svg#GilroyMedium') format('svg');
}
@font-face {
    font-family: 'GilroyRegular';
    src: url('fonts/GilroyRegular.eot');
    src: url('fonts/GilroyRegular.eot') format('embedded-opentype'),
    url('fonts/GilroyRegular.woff2') format('woff2'),
    url('fonts/GilroyRegular.woff') format('woff'),
    url('fonts/GilroyRegular.ttf') format('truetype'),
    url('fonts/GilroyRegular.svg#GilroyRegular') format('svg');
}
@font-face {
    font-family: 'GilroySemiBold';
    src: url('fonts/GilroySemiBold.eot');
    src: url('fonts/GilroySemiBold.eot') format('embedded-opentype'),
    url('fonts/GilroySemiBold.woff2') format('woff2'),
    url('fonts/GilroySemiBold.woff') format('woff'),
    url('fonts/GilroySemiBold.ttf') format('truetype'),
    url('fonts/GilroySemiBold.svg#GilroySemiBold') format('svg');
}


@theme{
    --font-GiloryBold:GilroyBold;
    --font-GiloryMedium:GilroyMedium;
    --font-GilorySemiBold:GilroySemiBold;
    --color-blue:#395BE6;
    --color-dark-gray:#141414;
    --color-light-gray:#F1F1F1;
}
@layer base {
    h1 {
        font-family: 'GilroyBold', sans-serif;
        @apply text-2xl sm:text-3xl md:text-4xl lg:text-[75px];
    }
    h2 {
        font-family: 'GilroyMedium', sans-serif;
        @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
    }
}
@layer components {
    .heading {
        font-family: 'GilroyMedium', sans-serif;
        @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
    }
    .tag::before {
        @apply absolute top-[-47px] left-0 bg-transparent;
        content: "";
        width: 48px;
        height: 48px;
        border-bottom-right-radius: 48px;
        box-shadow: 13px 21px 0px 13px #fff;
        transform: rotate(90deg);
    }
    .tag::after,
    .tag-2::after {
        @apply absolute bottom-0 right-[-47px] bg-transparent w-[48px] h-[48px];
        content: "";
        border-bottom-right-radius: 48px;
        box-shadow: 12px 8px 0px 5px #fff;
        transform: rotate(90deg);
    }
}
body{
    font-family: 'GilroyRegular';
}
.tag{
    position: relative;
}

.tag{
    border-top-right-radius: 48px;
}

.tag-2{
    position: relative;
    border-top-right-radius: 48px;
}
/*.tag-2 h1 span{*/
/*    color: #395BE6;*/
/*}*/
.content__container {
    display: inline-block;
    height: 92px; /* height = one item */
    overflow: hidden;
    vertical-align: middle;
}
.content__container__list {
    display: block;
    animation: change 8s infinite;
}
.content__container__list__item {
    display: block;
    line-height: 92px;
    margin: 0;
    padding: 0;
}

@keyframes change {
    0%, 20% { transform: translateY(0); }
    25%, 45% { transform: translateY(-92px); }
    50%, 70% { transform: translateY(-184px); }
    75%, 95% { transform: translateY(-276px); }
    100% { transform: translateY(0); }
}
*{
    box-sizing: border-box;
}
/**/
.card{
    position: relative;
}
.card::before {
    position: absolute;
    content: "";
    top: 0.375rem;
    left: -1.188rem;
    background: transparent;
    width: 1.2rem;
    height: 1.2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0.313rem 0.313rem 0px 0.313rem var(--clr-white);
    transform: rotate(-90deg);
}
.card::after {
    position: absolute;
    content: "";
    bottom: -1.188rem;
    right: -0.063rem;
    background: transparent;
    width: 1.2rem;
    height: 1.2rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0.313rem 0.313rem 0px 0.313rem var(--clr-white);
    transform: rotate(-90deg);
}
#cursor {
    background-color: var(--color-dark-gray);
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 100%;
    transition: all 0.2s ease;
    z-index: 20;
    pointer-events: none;
}
a:hover{
    cursor: pointer;
}