@import "tailwindcss";
@tailwind utilities;
@tailwind components;
*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'GilroyBold';
    src: url('fonts/GilroyBold.eot');
    src: url('fonts/GilroyBold.eot') format('embedded-opentype'),
    url('fonts/GilroyBold.woff2') format('woff2'),
    url('fonts/GilroyBold.woff') format('woff'),
    url('fonts/GilroyBold.ttf') format('truetype'),
    url('fonts/GilroyBold.svg#GilroyBold') format('svg');
}
@font-face {
    font-family: 'GilroyMedium';
    src: url('fonts/GilroyMedium.eot');
    src: url('fonts/GilroyMedium.eot') format('embedded-opentype'),
    url('fonts/GilroyMedium.woff2') format('woff2'),
    url('fonts/GilroyMedium.woff') format('woff'),
    url('fonts/GilroyMedium.ttf') format('truetype'),
    url('fonts/GilroyMedium.svg#GilroyMedium') format('svg');
}
@font-face {
    font-family: 'GilroyRegular';
    src: url('fonts/GilroyRegular.eot');
    src: url('fonts/GilroyRegular.eot') format('embedded-opentype'),
    url('fonts/GilroyRegular.woff2') format('woff2'),
    url('fonts/GilroyRegular.woff') format('woff'),
    url('fonts/GilroyRegular.ttf') format('truetype'),
    url('fonts/GilroyRegular.svg#GilroyRegular') format('svg');
}
@font-face {
    font-family: 'GilroySemiBold';
    src: url('fonts/GilroySemiBold.eot');
    src: url('fonts/GilroySemiBold.eot') format('embedded-opentype'),
    url('fonts/GilroySemiBold.woff2') format('woff2'),
    url('fonts/GilroySemiBold.woff') format('woff'),
    url('fonts/GilroySemiBold.ttf') format('truetype'),
    url('fonts/GilroySemiBold.svg#GilroySemiBold') format('svg');
}

@font-face {
    font-family: 'GilroyLight';
    src: url('fonts/GilroyLight.eot');
    src: url('fonts/GilroyLight.eot') format('embedded-opentype'),
    url('fonts/GilroyLight.woff2') format('woff2'),
    url('fonts/GilroyLight.woff') format('woff'),
    url('fonts/GilroyLight.ttf') format('truetype'),
    url('fonts/GilroyLight.svg#GilroyLight') format('svg');
}
@font-face {
    font-family: 'ibrand';
    src: url('fonts/ibrand.eot');
    src: url('fonts/ibrand.eot') format('embedded-opentype'),
    url('fonts/ibrand.woff2') format('woff2'),
    url('fonts/ibrand.woff') format('woff'),
    url('fonts/ibrand.ttf') format('truetype'),
    url('fonts/ibrand.svg#ibrand') format('svg');
}

@theme{
    /*break points*/
    --breakpoint-4xl: 1600px;
    --breakpoint-3xl: 1400px;
    --breakpoint-2xl: 1200px;
    --breakpoint-lg: 1024px;
    --breakpoint-md: 768px;
    --breakpoint-sm: 640px;
    /*break points*/
    --font-GiloryBold:GilroyBold;
    --font-GiloryMedium:GilroyMedium;
    --font-GilorySemiBold:GilroySemiBold;
    --font-GilroyLight:GilroyLight;
    --font-ibrand:ibrand;
    --color-blue:#395BE6;
    --color-main-blue:#4E63F6;
    --color-dark-gray:#141414;
    --color-light-gray:#F1F1F1;
    --color-silver-gray:#BCBCBC;
    --color-navy-blue:#0F084B;
    --color-light-white:#F5F5F5;
    --color-lime-green:#C3F55A;
}

@layer base {
    h1 { font-family: 'GilroyBold', sans-serif; @apply text-[clamp(33px,4vw,75px)] leading-[clamp(33px,5vw,75px)];}
    h2 {font-family: 'GilroyMedium', sans-serif; @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl;}
}
@layer components {
    .glass-container { @apply relative overflow-hidden transition-all duration-[400ms] ease-[cubic-bezier(0.175,0.885,0.32,2.2)];}
    .glass-filter {@apply absolute inset-0 rounded-[inherit] z-0 backdrop-blur-[3px] saturate-[1.2] brightness-100;}
    .glass-overlay {@apply absolute inset-0 rounded-[inherit] z-[1] bg-[rgb(178_178_178_/_30%)];}
    .glass-specular {@apply absolute inset-0 rounded-[inherit] z-[2] shadow-[inset_1px_1px_0_#B3AAFF,inset_0_0_5px_rgb(197_195_255_/_50%)];}
    .glass-filter2 {@apply absolute inset-0 rounded-[inherit] z-0 backdrop-blur-[10px] saturate-[1.2] brightness-100;}
    .glass-overlay2 {@apply absolute inset-0 rounded-[inherit] z-[1] bg-[#ffffff1a];}
    .glass-specular2 {@apply absolute inset-0 rounded-[inherit] z-[2] shadow-[inset_1px_1px_0_#ffffff1a,inset_0_0_8px_#ffffff1a] ;}
    .heading {font-family: 'GilroyMedium', sans-serif;@apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl;}
    .shape::before {
        @apply absolute top-[-47px] left-0 bg-transparent lg:rounded-br-[48px] rounded-br-[28px] w-[48px] h-[48px] rotate-[90deg];
        content: "";
        box-shadow: 13px 21px 0px 13px #fff;
    }
    .shape::after,
    .shape-2::after {
        @apply absolute bottom-0 lg:right-[-47px] right-[-34px] bg-transparent lg:w-[48px] w-[38px] h-[38px] lg:h-[48px] lg:rounded-br-[48px] rounded-br-[28px] rotate-[96deg] lg:rotate-[90deg];
        content: "";
        box-shadow: 12px 8px 0px 5px #fff;
    }
    .shape{
        @apply lg:rounded-tr-[48px] rounded-tr-[18px];
    }
    .shape-2{
        @apply relative;
        @apply lg:rounded-tr-[48px] rounded-tr-[18px];
    }
    /* Cursor */
    #cursor {
        @apply absolute w-[20px] h-[20px] rounded-full   z-20 pointer-events-none bg-dark-gray text-white text-[14px] flex items-center justify-center;
    }
    a:hover {
        @apply cursor-pointer;
    }
    .content__container {
        @apply inline-block overflow-hidden align-middle;
        height: clamp(33px, 10vw, 92px);
    }
    .content__container__list {
        @apply block;
        animation: change 8s infinite ease-in-out;
    }
    .content__container__list__item {
        @apply block m-0 p-0;
        line-height: clamp(33px, 10vw, 92px);
    }
    .border-lft-animation {
        @apply absolute top-0 h-full w-px bg-[#C4C4C4] opacity-100 3xl:left-[calc(1px+110px)] left-[calc(1px+60px)];
    }
    .border-rt-animation {
        @apply absolute top-0 h-full w-px bg-[#C4C4C4] opacity-100 3xl:right-[calc(1px+110px)] right-[calc(1px+60px)];
    }
    .line {
        @apply absolute top-0 w-[80px] h-[5px] bg-[#C3F55A] opacity-0 rotate-90 rounded-[5px] 3xl:left-[calc(1px+81px)] left-[calc(1px+31px)];
    }
    .line-rt {
        @apply absolute top-0 w-[80px] h-[5px] rounded-[5px] bg-[#C3F55A] opacity-0 rotate-90 3xl:right-[calc(1px+81px)] right-[calc(1px+31px)];
    }
    .line-top {
        @apply absolute top-0 w-[80px] h-[5px] bg-[#C3F55A] opacity-0 rounded-[5px] rotate-90 3xl:right-[calc(1px+26.2%)] right-[calc(1px+25.2%)];
    }
    .arrow-icon {@apply bottom-[30px] left-[30px] absolute;}
    .faq-item.faq-active .arrow-icon{@apply right-[30px] left-auto;}
    .faq-slider .swiper-slide {@apply 3xl:flex-[0_0_20%] 2xl:flex-[0_0_24%] lg:flex-[0_0_28%] md:flex-[0_0_40%] sm:flex-[0_0_50%] flex-[0_0_40%];}
    .faq-slider .swiper-slide.faq-active {@apply xl:flex-[0_0_29%] lg:flex-[0_0_36%] md:flex-[0_0_45%] sm:flex-[0_0_55%] flex-[0_0_65%];}

    .mySwiper .swiper-wrapper .swiper-slide .curve-shape:after {
        content: "";
        box-shadow: 13px 21px 0px 13px #0F084B;
        position: absolute;
        top: -47px;
        height: 48px;
        width: 48px;
        rotate: 90deg;
        left: calc(4px * 0);
        border-bottom-right-radius: 30px;
    }
    .mySwiper .swiper-wrapper .swiper-slide:nth-child(even) .curve-shape:after {
        box-shadow: 13px 21px 0px 13px #4E63F6;
    }
    .arrow_btn .swiper_btn {
        @apply 4xl:!w-[120px] md:!w-[100px] !w-[50px] 4xl:!h-[60px] md:!h-[40px] !h-[25px] rounded-[30px] transition-all duration-500 ease-in-out;
    }
    .arrow_btn .swiper_btn:hover + div,
    .arrow_btn .swiper-button-prev:has(+ .swiper-button-next:hover) {
        @apply 4xl:!w-[60px] 4xl:!h-[60px] md:!w-[40px] md:!h-[40px] !w-[25px] !h-[25px] rounded-full;
    }
    .arrow_btn .swiper_btn:hover{
        @apply 4xl:!w-[180px] md:!w-[120px] !w-[80px];
    }
    .arrow_btn .swiper_btn:hover i{
        font-size: 30px;
    }
}
@layer utilities {

}
body{
    font-family: 'GilroyRegular';
    color: #141414;
}
@keyframes change {
    0%, 10% { transform: translateY(0); }
    15%, 25% { transform: translateY(calc(-1 * clamp(33px, 10vw, 92px))); }
    30%, 40% { transform: translateY(calc(-2 * clamp(33px, 10vw, 92px))); }
    45%, 55% { transform: translateY(calc(-3 * clamp(33px, 10vw, 92px))); }
    60%, 70% { transform: translateY(calc(-4 * clamp(33px, 10vw, 92px))); }
    75%, 85% { transform: translateY(calc(-5 * clamp(33px, 10vw, 92px))); }
    90%, 100% { transform: translateY(0); }
}
/*Animation statics section*/
/*Animation statics section*/
.border-btm {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #C4C4C4;
    opacity: 1;
}
.line-bottom {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 80px;
    height: 5px;
    background: #C3F55A;
    opacity: 0;
    border-radius: 5px;
}
/* Right border */
/* Right side line */
.border-top-animation {
    position: absolute;
    right: calc(1px + 27.7%);
    top: 0;
    height: 100%;
    width: 1px;
    background: #C4C4C4;
    opacity: 1;
}

/*Animation statics section*/
/*Animation statics section*/
/*white Header*/


.white-header  .glass-container{
    background: rgb(178 178 178 / 40%);
    border: 1px solid #B3AAFF;
    transition: all 0.5s ease-in-out;
}
.white-header .glass-filter,
.white-header .glass-overlay,
.white-header .glass-specular{
    display: none;
}
/**/
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner{
    left: 50%;
    right: auto;
    transform: translateX(-50%);
}

/*Today’s progress: completed responsiveness for two sections.*/
.swiper-navigation-icon{
    display: none; /* or display: none; */
}
html{
    scroll-behavior: smooth;
}
#cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; /* so it won't block mouse events */
}
/*
*/
.faq-item.faq-active{
    background: var(--color-main-blue);
}
.faq-item.faq-active .faq-question{
    color: #fff;
}

.big-arrow{
    display: none;
}
.faq-item.faq-active .arrow-icon .small-arrow{
    display: none;
}
.faq-item.faq-active .arrow-icon .big-arrow{
    display: block;
}

.swiper-button-next, .swiper-button-prev {
    &.swiper-button-disabled {
        cursor: pointer;
        opacity: 1;
        pointer-events: all;
    }
}

/*Header*/
#header{
}
.scroll-down #header{
    transition: all 0.5s ease-in-out;
    transform: translateY(-130%);
    position: fixed;
    top: 0;
}
.scroll-up #header{
    transform: translateY(0);
    position: fixed;
    background: #fff;
    top: 0;
    transition: all 0.5s ease-in-out;
}
.scroll-up #header img{
    filter: invert(56%) sepia(59%) saturate(20%) hue-rotate(44deg) brightness(6%) contrast(90%);
}
.black-header img{
    filter: invert(56%) sepia(59%) saturate(20%) hue-rotate(44deg) brightness(6%) contrast(90%);
}
.black-header ul li a {
    color: #131313;
}
.black-header .hire_btn {
    color: white;
    background: var(--color-blue);
}
.scroll-up #header .hire_btn{
    color: white;
    background: var(--color-blue);
}
.scroll-up  #header ul li a{
    color: #131313;
}
.faq-question + div p{
    opacity: 0;
}
.faq-active .faq-question + div p{
opacity: 1;
}
/* base */
#team_slider .swiper-slide {
    flex: 0 0 11%;
    height: 622px;
    transition: flex .5s ease-in-out;
}

/* default: first visible child expanded */
#team_slider .swiper-slide:first-child {
    flex: 0 0 29.6%;
}
#team_slider .swiper-slide:first-child .team_slider_text{
    opacity: 1;
}
#team_slider .swiper-slide:first-child figure img{
    filter: grayscale(0);
}
/* when hovering anywhere inside wrapper, collapse all to small */
#team_slider .swiper-wrapper:hover .swiper-slide {
    flex: 0 0 11%;
}

/* hovered slide expands */
#team_slider .swiper-wrapper .swiper-slide:hover {
    flex: 0 0 29.6%;
}
#team_slider .swiper-wrapper .swiper-slide:hover .team_slider_text{
    opacity: 1;
}
#team_slider .swiper-wrapper .swiper-slide:hover figure img{
    filter: grayscale(0);
}
    /* make sure first slide only collapses when it is NOT hovered (so hovering first keeps it expanded) */
#team_slider .swiper-wrapper:hover .swiper-slide:first-child:not(:hover) {
    flex: 0 0 11%;
}
#team_slider .swiper-wrapper:hover .swiper-slide:first-child:not(:hover) .team_slider_text{
    opacity: 0;
}
#team_slider .swiper-wrapper:hover .swiper-slide:first-child:not(:hover) figure img{
    filter: grayscale(1);
}