@import "tailwindcss";
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'GilroyBold';
    src: url('fonts/GilroyBold.eot');
    src: url('fonts/GilroyBold.eot') format('embedded-opentype'),
    url('fonts/GilroyBold.woff2') format('woff2'),
    url('fonts/GilroyBold.woff') format('woff'),
    url('fonts/GilroyBold.ttf') format('truetype'),
    url('fonts/GilroyBold.svg#GilroyBold') format('svg');
}
@font-face {
    font-family: 'GilroyMedium';
    src: url('fonts/GilroyMedium.eot');
    src: url('fonts/GilroyMedium.eot') format('embedded-opentype'),
    url('fonts/GilroyMedium.woff2') format('woff2'),
    url('fonts/GilroyMedium.woff') format('woff'),
    url('fonts/GilroyMedium.ttf') format('truetype'),
    url('fonts/GilroyMedium.svg#GilroyMedium') format('svg');
}
@font-face {
    font-family: 'GilroyRegular';
    src: url('fonts/GilroyRegular.eot');
    src: url('fonts/GilroyRegular.eot') format('embedded-opentype'),
    url('fonts/GilroyRegular.woff2') format('woff2'),
    url('fonts/GilroyRegular.woff') format('woff'),
    url('fonts/GilroyRegular.ttf') format('truetype'),
    url('fonts/GilroyRegular.svg#GilroyRegular') format('svg');
}
@font-face {
    font-family: 'GilroySemiBold';
    src: url('fonts/GilroySemiBold.eot');
    src: url('fonts/GilroySemiBold.eot') format('embedded-opentype'),
    url('fonts/GilroySemiBold.woff2') format('woff2'),
    url('fonts/GilroySemiBold.woff') format('woff'),
    url('fonts/GilroySemiBold.ttf') format('truetype'),
    url('fonts/GilroySemiBold.svg#GilroySemiBold') format('svg');
}

@font-face {
    font-family: 'GilroyLight';
    src: url('fonts/GilroyLight.eot');
    src: url('fonts/GilroyLight.eot') format('embedded-opentype'),
    url('fonts/GilroyLight.woff2') format('woff2'),
    url('fonts/GilroyLight.woff') format('woff'),
    url('fonts/GilroyLight.ttf') format('truetype'),
    url('fonts/GilroyLight.svg#GilroyLight') format('svg');
}
@font-face {
    font-family: 'ibrand';
    src: url('fonts/ibrand.eot');
    src: url('fonts/ibrand.eot') format('embedded-opentype'),
    url('fonts/ibrand.woff2') format('woff2'),
    url('fonts/ibrand.woff') format('woff'),
    url('fonts/ibrand.ttf') format('truetype'),
    url('fonts/ibrand.svg#ibrand') format('svg');
}

@theme{
    /*break points*/
    --breakpoint-4xl: 1600px;
    --breakpoint-3xl: 1400px;
    --breakpoint-2xl: 1200px;
    --breakpoint-lg: 1024px;
    --breakpoint-md: 768px;
    --breakpoint-sm: 640px;
    /*break points*/
    --font-GiloryBold:GilroyBold;
    --font-GiloryMedium:GilroyMedium;
    --font-GilorySemiBold:GilroySemiBold;
    --font-GilroyLight:GilroyLight;
    --font-ibrand:ibrand;
    --color-blue:#395BE6;
    --color-main-blue:#4E63F6;
    --color-dark-gray:#141414;
    --color-light-gray:#F1F1F1;
    --color-silver-gray:#BCBCBC;
    --color-navy-blue:#0F084B;
    --color-light-white:#F5F5F5;
    --color-lime-green:#C3F55A;
}
@layer base {
    h1 { font-family: 'GilroyBold', sans-serif; @apply text-[clamp(33px,5vw,75px)] leading-[clamp(33px,5vw,75px)];}
    h2 {font-family: 'GilroyMedium', sans-serif; @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl;}
}
@layer components {
    .glass-container { @apply relative overflow-hidden transition-all duration-[400ms] ease-[cubic-bezier(0.175,0.885,0.32,2.2)];}
    .glass-filter {@apply absolute inset-0 rounded-[inherit] z-0 backdrop-blur-[3px] saturate-[1.2] brightness-100;}
    .glass-overlay {@apply absolute inset-0 rounded-[inherit] z-[1] bg-[rgb(178_178_178_/_30%)];}
    .glass-specular {@apply absolute inset-0 rounded-[inherit] z-[2] shadow-[inset_1px_1px_0_#B3AAFF,inset_0_0_5px_rgb(197_195_255_/_50%)];}
    .glass-filter2 {@apply absolute inset-0 rounded-[inherit] z-0 backdrop-blur-[10px] saturate-[1.2] brightness-100;}
    .glass-overlay2 {@apply absolute inset-0 rounded-[inherit] z-[1] bg-[#ffffff1a];}
    .glass-specular2 {@apply absolute inset-0 rounded-[inherit] z-[2] shadow-[inset_1px_1px_0_#ffffff1a,inset_0_0_8px_#ffffff1a] ;}
    .heading {font-family: 'GilroyMedium', sans-serif;@apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl;}
    .shape::before {
        @apply absolute top-[-47px] left-0 bg-transparent lg:rounded-br-[48px] rounded-br-[28px] w-[48px] h-[48px] rotate-[90deg];
        content: "";
        box-shadow: 13px 21px 0px 13px #fff;
    }
    .shape::after,
    .shape-2::after {
        @apply absolute bottom-0 lg:right-[-47px] right-[-34px] bg-transparent lg:w-[48px] w-[38px] h-[38px] lg:h-[48px] lg:rounded-br-[48px] rounded-br-[28px] rotate-[96deg] lg:rotate-[90deg];
        content: "";
        box-shadow: 12px 8px 0px 5px #fff;
    }
    .shape{
        @apply lg:rounded-tr-[48px] rounded-tr-[18px];
    }
    .shape-2{
        @apply relative;
        @apply lg:rounded-tr-[48px] rounded-tr-[18px];
    }
    /* Cursor */
    #cursor {
        @apply absolute w-[15px] h-[15px] rounded-full transition-all ease-in-out duration-200 z-20 pointer-events-none bg-dark-gray;
    }
    a:hover {
        @apply cursor-pointer;
    }
    .content__container {
        @apply inline-block overflow-hidden align-middle;
        height: clamp(33px, 10vw, 92px);
    }
    .content__container__list {
        @apply block;
        animation: change 8s infinite;
    }
    .content__container__list__item {
        @apply block m-0 p-0;
        line-height: clamp(33px, 10vw, 92px);
    }


    .border-lft-animation {
        @apply absolute top-0 h-full w-px bg-[#C4C4C4] opacity-100 3xl:left-[calc(1px+110px)] left-[calc(1px+60px)];
    }
    .border-rt-animation {
        @apply absolute top-0 h-full w-px bg-[#C4C4C4] opacity-100 3xl:right-[calc(1px+110px)] right-[calc(1px+60px)];
    }
    .line {
        @apply absolute top-0 w-[80px] h-[5px] bg-[#C3F55A] opacity-0 rotate-90 rounded-[5px] 3xl:left-[calc(1px+81px)] left-[calc(1px+31px)];
    }
    .line-rt {
        @apply absolute top-0 w-[80px] h-[5px] rounded-[5px] bg-[#C3F55A] opacity-0 rotate-90 3xl:right-[calc(1px+81px)] right-[calc(1px+31px)];
    }
    .line-top {
        @apply absolute top-0 w-[80px] h-[5px] bg-[#C3F55A] opacity-0 rounded-[5px] rotate-90 3xl:right-[calc(1px+26.2%)] right-[calc(1px+25.2%)];
    }
    .mySwiper .swiper-wrapper .swiper-slide .curve-shape:after {
        content: "";
        box-shadow: 13px 21px 0px 13px #0F084B;
        position: absolute;
        top: -47px;
        height: 48px;
        width: 48px;
        rotate: 90deg;
        left: calc(4px * 0);
        border-bottom-right-radius: 30px;
    }
    .mySwiper .swiper-wrapper .swiper-slide:nth-child(even) .curve-shape:after {
        box-shadow: 13px 21px 0px 13px #4E63F6;
    }
}
body{
    font-family: 'GilroyRegular';
    color: #141414;
}
@keyframes change {
    0%, 20% { transform: translateY(0); }
    25%, 45% { transform: translateY(calc(-1 * clamp(33px, 10vw, 92px))); }
    50%, 70% { transform: translateY(calc(-2 * clamp(33px, 10vw, 92px))); }
    75%, 95% { transform: translateY(calc(-3 * clamp(33px, 10vw, 92px))); }
    100% { transform: translateY(0); }
}
/*Animation statics section*/
/*Animation statics section*/
.border-btm {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #C4C4C4;
    opacity: 1;
}
.line-bottom {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 80px;
    height: 5px;
    background: #C3F55A;
    opacity: 0;
    border-radius: 5px;
}
/* Right border */
/* Right side line */
.border-top-animation {
    position: absolute;
    right: calc(1px + 27.7%);
    top: 0;
    height: 100%;
    width: 1px;
    background: #C4C4C4;
    opacity: 1;
}

/*.line-top {*/
/*    position: absolute;*/
/*    right: calc(1px + 26.2%);*/
/*    top: 0;*/
/*    width: 60px;*/
/*    height: 6px;*/
/*    background: #C3F55A;*/
/*    opacity: 1;*/
/*    border-radius: 5px;*/
/*    transform: rotate(90deg);*/
/*}*/

/*Animation statics section*/
/*Animation statics section*/
/*white Header*/
.white-header img{
    filter: invert(56%) sepia(59%) saturate(20%) hue-rotate(44deg) brightness(6%) contrast(90%);
}
.white-header .hire_btn{
    color: white;
    background: var(--color-blue);
}
.white-header ul li a{
    color: #131313;
}
.white-header  .glass-container{
    background: rgb(178 178 178 / 40%);
    border: 1px solid #B3AAFF;
}
.white-header .glass-filter,
.white-header .glass-overlay,
.white-header .glass-specular{
    display: none;
}
/**/
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner{
    left: 50%;
    right: auto;
    transform: translateX(-50%);
}

/*Today’s progress: completed responsiveness for two sections.*/
.swiper-navigation-icon{
    display: none; /* or display: none; */
}
html{
    scroll-behavior: smooth;
}
/*
*/
.faq-item {
    height: 600px;
    background: #EDEDED;
    border-radius: 40px;
    color: var(--color-navy-blue);
}
.faq-question {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-question .icon {
    transition: transform 0.3s ease;
    font-weight: bold;
    font-size: 1.2rem;
}
.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.3s ease;
    padding: 0 0;
}
.faq-item.faq-active{
    background: var(--color-main-blue);
}
.faq-item.faq-active .faq-question{
    color: #fff;
}
.arrow-icon {
    bottom: 30px;
    left: 30px;
    position: absolute;
}
.faq-item.faq-active .arrow-icon{
    left: auto;
    right: 30px;
}
.big-arrow{
    display: none;
}
.faq-item.faq-active .arrow-icon .small-arrow{
    display: none;
}
.faq-item.faq-active .arrow-icon .big-arrow{
    display: block;
}
.faq-slider .swiper-slide {
    flex: 0 0 20%; /* 25% width */
}

.faq-slider .swiper-slide.faq-active {
    flex: 0 0 29%; /* First slide 40% */
}
